<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boutique en Ligne MTP Esport</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   <div class="grid-container">
    <header class="row">
      <div class="logo">
        <a href="index.html"><img src="images\téléchargement.png" alt="logo" height="80px"></a>
      </div>
      <div class="nav-center">
        <ul>
          
          <a href="/vetements">Vetements</a>
          <a href="/collections">Collections</a>
          <a href="/chaises">Chaises</a>
          <a href="/gaming">Gaming</a>
        </ul>
      </div>
      <div class="nav-right">
        <a href="panier.html">Panier</a>
        <a href="signin.html">Connexion</a>
      </div>
    </header>
      
    <main>
      <ul>
        <li>Produit 1</li>
        <li>Produit 2</li>
        <li>Produit 3</li>
        <li>Produit 4</li>
        <li>Produit 5</li>
        <li>Produit 6</li>
      </ul>
    </main>
    <footer class="row center">
      Copyright © 2020 Montpellier Talent Players - <a href=""> Politique de confidentialité </a>- <a href="">Mentions légales</a>
    </footer>
  </div>
</body>
</html>