<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boutique en Ligne MTP Esport</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<body>
   <div className="grid-container">
    <header className="row">
      <div className="logo">
        <a href="index.html"><img src="images\téléchargement.jpg" alt="logo" height="80px"></a>
      </div>
      <div className="nav-center">
        <ul>
          
          <a href="/vetements">Vetements</a>
          <a href="/collections">Collections</a>
          <a href="/chaises">Chaises</a>
          <a href="/gaming">Gaming</a>
        </ul>
      </div>
      <div className="nav-right">
        <a href="panier.html">Panier</a>
        <a href="signin.html">Connexion</a>
      </div>
    </header>
      
    <main>
      <div className="row center">
        <div className="card">
          <a href="product.html">
            <img className="medium" src="images\Maillot1.jpg" alt="product">
          </a>
          <div className="card-body">
            <a href="product.html">
              <h2>Maillot MTP Esport</h2>
            </a>
            <div className="note">
              <span> <i className="fa fa-star"></i></span>
              <span> <i className="fa fa-star"></i></span>
              <span> <i className="fa fa-star"></i></span>
              <span> <i className="fa fa-star"></i></span>
              <span> <i className="fa fa-star"></i></span>
            </div> 
            <div className="price"> 80 €</div>
          </div>
        </div>
        <div className="card">
          <a href="product.html">
            <img className="medium" src="images\Maillot1.jpg" alt="product">
          </a>
          <div className="card-body">
            <a href="product.html">
              <h2>Maillot MTP Esport</h2>
            </a>
            <div className="note">
              <span> <i className="fa fa-star"></i></span>
              <span> <i className="fa fa-star"></i></span>
              <span> <i className="fa fa-star"></i></span>
              <span> <i className="fa fa-star"></i></span>
              <span> <i className="fa fa-star"></i></span>
            </div> 
            <div className="price"> 80 €</div>
          </div>
        </div>
        <div className="card">
          <a href="product.html">
            <img className="medium" src="images\Maillot1.jpg" alt="product">
          </a>
          <div className="card-body">
            <a href="product.html">
              <h2>Maillot MTP Esport</h2>
            </a>
            <div className="note">
              <span> <i className="fa fa-star"></i></span>
              <span> <i className="fa fa-star"></i></span>
              <span> <i className="fa fa-star"></i></span>
              <span> <i className="fa fa-star"></i></span>
              <span> <i className="fa fa-star"></i></span>
            </div> 
            <div className="price"> 80 €</div>
          </div>
        </div>
        <div className="card">
          <a href="product.html">
            <img className="medium" src="images\Maillot1.jpg" alt="product">
          </a>
          <div className="card-body">
            <a href="product.html">
              <h2>Maillot MTP Esport</h2>
            </a>
            <div className="note">
              <span> <i className="fa fa-star"></i></span>
              <span> <i className="fa fa-star"></i></span>
              <span> <i className="fa fa-star"></i></span>
              <span> <i className="fa fa-star"></i></span>
              <span> <i className="fa fa-star"></i></span>
            </div> 
            <div className="price"> 80 €</div>
          </div>
        </div>
        <div className="card">
          <a href="product.html">
            <img className="medium" src="images\Maillot1.jpg" alt="product">
          </a>
          <div className="card-body">
            <a href="product.html">
              <h2>Maillot MTP Esport</h2>
            </a>
            <div className="note">
              <span> <i className="fa fa-star"></i></span>
              <span> <i className="fa fa-star"></i></span>
              <span> <i className="fa fa-star"></i></span>
              <span> <i className="fa fa-star"></i></span>
              <span> <i className="fa fa-star"></i></span>
            </div> 
            <div className="price"> 80 €</div>
          </div>
        </div>
        <div className="card">
          <a href="product.html">
            <img className="medium" src="images\Maillot1.jpg" alt="product">
          </a>
          <div className="card-body">
            <a href="product.html">
              <h2>Maillot MTP Esport</h2>
            </a>
            <div className="note">
              <span> <i className="fa fa-star"></i></span>
              <span> <i className="fa fa-star"></i></span>
              <span> <i className="fa fa-star"></i></span>
              <span> <i className="fa fa-star"></i></span>
              <span> <i className="fa fa-star"></i></span>
            </div> 
            <div className="price"> 80 €</div>
          </div>
        </div>
         <div className="card">
          <a href="product.html">
            <img className="medium" src="images\Maillot1.jpg" alt="product">
          </a>
          <div className="card-body">
            <a href="product.html">
              <h2>Maillot MTP Esport</h2>
            </a>
            <div className="note">
              <span> <i className="fa fa-star"></i></span>
              <span> <i className="fa fa-star"></i></span>
              <span> <i className="fa fa-star"></i></span>
              <span> <i className="fa fa-star"></i></span>
              <span> <i className="fa fa-star"></i></span>
            </div> 
            <div className="price"> 80 €</div>
          </div>
        </div>
      </div>
      
    </main>
    <footer className="row center">
      Copyright © 2020 Montpellier Talent Players - <a href=""> Politique de confidentialité </a>- <a href="">Mentions légales</a>
    </footer>
  </div>
</body>
</html>