html {
  font-size: 62.5%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}
.logo {
  margin-left: 50px;
  align-self: baseline;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
/* header */
header a {
  color: #ffffff;
  padding: 0.5rem;
  word-spacing: 5px;
}
.nav-center {
  right: 104px;
  position: relative;
  word-spacing: 2rem;
}
.nav-center a {
  padding-left: 2rem;
  padding-right: 1rem;
}
.nav-right {
  word-spacing: 0.5rem;
  display: inline;
}
/* .nav-center li {
  list-style: none;
  display: inline;
} */
.nav-center a:hover {
  text-decoration: none;
}
.nav-center.dropdown-content a:hover {
  text-decoration: underline;
}
.main-header {
  position: sticky;
  top: 0;
}
header {
  grid-area: header;
  padding-top: 1.5rem;
  padding-bottom: 9.5rem;
  background: rgb(125, 18, 64);
  background: linear-gradient(
    90deg,
    rgba(125, 18, 64, 1) 0%,
    rgba(54, 21, 70, 1) 100%
  );
}
.nav-center a:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 20px;
  left: 20px;
  height: 2px;
  background-color: #ffffff;
  /* Préparation de notre animation */
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.5s;
}
.nav-center a:focus {
  outline: none;
}
.nav-center a:hover:after,
.nav-center a:focus:after {
  opacity: 0.6;
  transform: translateY(0);
}

main {
  grid-area: main;
  padding: 10rem;
}
/* Footer */
footer {
  position: relative;
  background-color: rgb(36 24 37);
  color: rgb(172 143 187);
  padding: 5rem 0px 0px;
}
footer a {
  color: #fff;
  font-size: 1.2rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
/* .footer-boutique {
  margin-left: 10px;
  left: 10px;
} */
.bot-policy {
  position: relative;
  height: auto;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  background: rgb(39 33 43);
  color: rgb(189, 189, 189);
  padding: 1.5rem 0px;
  margin-top: 5rem;
}
footer li {
  margin-left: -50px;
}
footer img {
  display: block;
  width: 10rem;
  height: auto;
  margin-top: 0.75rem;
}
.style-footer {
  width: 100%;
  margin: 0px auto;
  padding: 0px 2.5rem;
  box-sizing: border-box;
}
.style-footer .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.8rem 2.4rem;
}

/* Common */
h1 {
  font-size: 2.5rem;
  padding: 1rem 0;
}
h2 {
  font-size: 2rem;
  padding: 1rem 0;
}
.section_header h2 {
  font-size: 1.2857142857em;
  line-height: 1.3em;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 1rem;
  list-style-type: none;
}

.section-header li {
  margin-top: 1rem;
  text-decoration: none;
}
/* Button */
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  cursor: pointer;
}
button:hover {
  background-color: #0b0b0b;
  color: #fff;
}

.btn,
input[type="submit"] {
  display: inline-block;
  position: relative;
  border: 3px solid #0b0b0b !important;
  padding: 15px 35px;
  font-size: 1em;
  color: #0b0b0b;
  text-transform: uppercase;
  z-index: 1;
  font-weight: 700;
}
.btn:hover,
input[type="submit"]:hover {
  background-color: #0b0b0b;
  color: #fff;
}

button.block {
  width: 100%;
}
.payment-button {
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: rgb(125, 18, 64);
  background: linear-gradient(
    90deg,
    rgba(125, 18, 64, 1) 0%,
    rgba(54, 21, 70, 1) 100%
  );
  background-clip: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px transparent solid;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  padding: 1.4em 1.7em;
  text-align: center;
  position: relative;
}
.btn-black {
  text-align: center;
  line-height: 1.5em;
  display: inline-block;
  position: relative;
  border: 3px solid #0b0b0b;
  padding: 15px 35px;
  font-size: 1em;
  color: #0b0b0b;
  text-transform: uppercase;
  z-index: 1;
}

/*  */
/* header */
header a {
  color: #ffffff;
  padding: 0.5rem;
  word-spacing: 5px;
}
.nav-center {
  right: 104px;
  position: relative;
  word-spacing: 2rem;
}
.nav-center a {
  padding-left: 2rem;
  padding-right: 1rem;
}
.nav-right {
  word-spacing: 0.5rem;
  display: inline;
}
/* .nav-center li {
  list-style: none;
  display: inline;
} */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.top {
  align-items: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.actions-items {
  flex: 1 1 25rem;
}
.description {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.min-30 {
  min-width: 30rem;
}

.row.center {
  justify-content: center;
}

/* Image */
img {
  border: 0.5rem;
}
img.large {
  width: 55%;
}
img.small {
  max-width: 15rem;
  width: 50%;
}
img.medium {
  max-height: 40rem;
  max-width: 28rem;
  width: 100%;
}
.img_product_height {
  /* background-color: #f3f3f3; */
  min-height: 285px;
  max-height: 100px;
  overflow: hidden;
}
/* Black Block Right */
.black-blocs .danger {
  color: #ea2027;
}
.black-blocs {
  background: #6f1e51 !important;
  color: #ecf0f1 !important;
  padding: 5px 35px;
  position: relative;
  margin: 0 !important;
  margin-top: 30px !important;
}
.shape-top,
.shape-bottom {
  background: #6f1e51 !important;
  position: absolute;
}
.shape-top {
  width: 150px;
  height: 30px;
  top: -30px;
  right: 0;
}
.shape-bottom {
  width: calc(100% - 40px);
  height: 20px;
  bottom: -20px;
  right: 20px;
}
.shape-top::after,
.black-blocs::before,
.black-blocs::after {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  background: #6f1e51;
}

.shape-top::after {
  top: 0px;
  left: -30px;
  transform: skew(-45deg);
  height: 100%;
}
.black-blocs::before {
  bottom: -20px;
  left: 10px;
  transform: skew(45deg);
  height: 20px;
}
.black-blocs::after {
  bottom: -20px;
  right: 10px;
  transform: skew(-45deg);
  height: 20px;
}

/* Card */
.card {
  /* border: 0.1rem #000000 solid; */
  background-color: #fff;
  margin: 1rem;
  height: 45rem;
}
.card-body {
  padding: 1rem;
  border-top: 1px solid #ccc;
}
.card-body > * {
  margin-bottom: 0.5rem;
}

.price {
  font-size: 2rem;
}
/* Note */
.note span {
  color: #f3b407;
  margin: 0.1rem;
}
/* .note span:last-child {
  color: #000000;
} */
.note span

/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #0b2721;
}

.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #000000;
  background-color: #ffffff;
}
.alert-success {
  color: rgb(9, 88, 62);
  background-color: rgb(171, 245, 200);
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0ff;
}
/* productscreen */
.cart-card {
  color: #fff;
  background-color: #000000;
}
.cartButton {
  position: relative;
  display: inline-block;
  padding: 20px 3.4rem;
  overflow: hidden;
  color: rgb(255, 255, 255);
  background-color: rgb(205, 59, 55);
  background-image: linear-gradient(
    -185deg,
    rgb(205, 59, 55) 49.5%,
    rgb(159, 45, 42) 50.5%
  );
  background-size: 100% 255%;
  background-position: 50% 0px;
  background-repeat: no-repeat;
  transition: color 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    background-color 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    background-position 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  border-radius: 4.6rem;
  text-decoration: none;
  white-space: nowrap;
}

.badge {
  background-color: #b1165a;
  color: #fff;
  border-radius: 100%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
  font-weight: 500;
  letter-spacing: 0;
  background: transparent;
  line-height: 1.5em;
  width: 100%;
  outline: none;
  border: 2px transparent;
  background: transparent;
  line-height: 1.5em;
  width: 100%;
  outline: none;
  border: 2px transparent;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
  display: block;
}
/*  */
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 1px solid;
  background-clip: padding-box;
  border-radius: 5px;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.9285714286em 0.7857142857em;
  word-break: normal;
  line-height: inherit;
  width: 100%;
}
.select-cart {
  font-size: 2rem;
  padding: 1rem;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 7rem;
  color: rgb(37, 36, 35);
  border-bottom: 1px solid rgb(196, 196, 196);
}
.select-country {
  padding: 2.4rem;
}

.contact-info {
  font-size: large;
}
/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
  align-self: auto;
}

.dropdown-content {
  align-self: start;
  position: absolute;
  display: none;
  right: 0px;
  min-width: 12rem;
  padding: 7rem;
  z-index: 1;
  background: #000;
  margin: 0;
  margin-top: 0.4rem;
  /* border-radius: 0.5rem; */
  top: 3.1rem;
}
.dropdown-item {
  display: inline;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/*  */
/* Checkout Steps */
.checkout-steps > div {
  font-size: 60%;
  border-top: 1rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
  text-align: center;
}
.checkout-steps > div.active {
  border-top-color: #b1165a;
  color: #b1165a;
}
.alternative-payment-separator {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 0.8571428571em;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  color: #737373;
  margin-top: 2.5em;
}
/*  */

.form-fullName {
  display: inline block;
}
.sidebar {
  margin-top: 45px;
  padding-top: 4rem;
  /* background-color: #2b2a29; */
  /* color: #fff; */
  width: 38%;
  padding-left: 4%;
  background-position: left top;
  float: right;
  border: #b1165a solid;
}
.row.product-sumary {
  margin-right: 2em;
}
.section_content_fullName {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.section_fullAddress {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.review-block {
  border-bottom-left-radius: px;
  border-bottom-right-radius: 4px;
  padding-bottom: 0.8571428571em;
  display: table;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  zoom: 1;
  margin-left: 2rem;
  margin-right: 2rem;
}
.content-box {
  background: #fff;
  background-clip: padding-box;
  border: 1px solid;
  border-radius: 5px;
}
.content-box a {
  color: #197bbd;
}
.d_flex {
  display: flex;
  gap: 20px;
}
.gap-20 {
  gap: 20px;
}
.step_footer {
  margin-top: 1.5em;
  z-index: 2;
  position: relative;
}
.step_footer a {
  color: #197bbd;
}
.step_footer .payment-button {
  float: right;
  width: 40%;
}
hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-end: 4rem;
  overflow: hidden;
  color: #000;
  border-style: inset;
  border-width: 1px;
}
.product-thumbnail__quantity {
  font-size: 0.8571428571em;
  font-weight: 500;
  line-height: 1.75em;
  white-space: nowrap;
  text-align: center;
  border-radius: 1.75em;
  background-color: #b1165a;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 1.75em;
  height: 1.75em;
  padding: 0 0.5833333333em;
  position: sticky;
  right: -0.75em;
  top: -0.75em;
  z-index: 3;
}
.summary {
  margin-right: 4rem;
}
/* order history */
.order-history-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 150px;
  background: #efefef;
}
.order-history-information {
  width: 50%;
  flex-shrink: 0;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
}
.order-history-item {
  margin-bottom: 20px;
  border: 1px solid #efefef;
}
.order-details-btn,
.order-track-number-btn {
  min-width: 232px;
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;
  text-align: start;
  text-transform: uppercase;
  padding: 12px;
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
}
.order-history-shipping {
  text-align: justify;
  font-size: 1.1rem;
  border-top: 1px solid #efefef;
  padding: 20px 15px;
}
.order-history-shipping > div,
.order-history-shipping > li {
  text-align: start;
}

.order-shipped-to-wrapper {
  max-width: 60%;
  word-break: normal;
}
.order-history-total,
.order-shipped-to-wrapper {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
}
.order-history-shipping:after {
  content: "";
  width: 100%;
  overflow: hidden;
  height: 0.1px;
  display: inline-block;
}
.order-number {
  display: inline;
}

/* Search */
.search {
  position: relative;
  display: flex;
  flex-direction: column;
}
.search .results {
  background-color: #ecf0f1;
  font-size: 20px;
  box-shadow: 0 5px 17px #27081d45;
  border-radius: 0 0 5px 5px;
  position: absolute;
  top: 48px;
  width: 100%;
  z-index: 1;
}
.search .results div {
  padding: 5px 20px;
}
.search .results div:hover {
  background-color: #bdc3c7;
  cursor: pointer;
}
.search form {
  display: flex;
  align-items: center;
}
.search input {
  border-radius: 0.5rem;
  border: none;
  padding-right: 55px;
}
.search .actions {
  position: absolute;
  right: 0;
  padding-right: 10px;
  display: flex;
  align-items: center;
}
.search .actions i {
  padding: 0 2.5px;
  color: #bdc3c7;
  font-size: 20px;
  cursor: pointer;
}
.search .actions i:hover {
  color: #7f8c8d;
}

.burger {
  display: none;
}
.grid-container header .menu {
  width: 75%;
  /* transform: translate(0px, 0); TODO bug */
}
.shipping-produt-price {
  position: relative;
  top: -6.3rem;
  left: 41rem;
}

@media screen and (max-width: 910px) {
  .burger {
    display: block;
    color: #ecf0f1;
    position: relative;
    z-index: 2;
    padding: 30px;
    font-size: 40px;
  }
  .burger i:hover {
    cursor: pointer;
    color: #bdc3c7;
  }
  .grid-container header {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 0;
    position: absolute;
    z-index: 1;
  }
  .grid-container header .menu {
    width: 100%;
    transform: translate(0px, -200%);
    display: flex;
    justify-content: center;
    background: linear-gradient(
      90deg,
      rgba(125, 18, 64, 1) 0%,
      rgba(54, 21, 70, 1) 100%
    );
  }
  .grid-container header .logo {
    margin-left: 0;
    align-self: center;
  }
  .grid-container header .nav-center > ul {
    display: flex;
    flex-direction: column;
  }
  .grid-container header .nav-center > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .grid-container header .nav-right {
    padding: 10px;
  }
  .grid-container header .search {
    width: 80%;
  }
}
