html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}
.logo {
  margin-left: 50px;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  /* padding-bottom: 5.5rem; */
  background-color: #000000;
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: #000000;
  color: #ffffff;
} /* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #a0074a;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  cursor: pointer;
}
button:hover {
  border: 0.1rem #404040 solid;
}

button.block {
  width: 100%;
}
/* header */
header a {
  color: #ffffff;
  padding: 0.5rem;
}
.nav-center {
  word-spacing: 2rem;
}
.nav-right {
  word-spacing: 0.5rem;
}
.nav-center li {
  list-style: none;
  display: inline;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.top {
  align-items: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.actions-items {
  flex: 1 1 25rem;
}
.description {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}

.row.center {
  justify-content: center;
}
/* Footer */
footer a {
  color: #fff;
}

/* Image */
img {
  border: 0.5rem;
}
img.large {
  width: 100%;
}
img.medium {
  max-height: 400px;
  max-width: 28rem;
  width: 100%;
}
/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #fff;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}
/* Note */
.note span {
  color: #f3b407;
  margin: 0.1rem;
}
.note span:last-child {
  color: #000000;
}
/* Alert */
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0ff;
}
/* productscreen */
.cartButton {
  position: relative;
  display: inline-block;
  padding: 20px 3.4rem;
  overflow: hidden;
  color: rgb(255, 255, 255);
  background-color: rgb(205, 59, 55);
  background-image: linear-gradient(
    -185deg,
    rgb(205, 59, 55) 49.5%,
    rgb(159, 45, 42) 50.5%
  );
  background-size: 100% 255%;
  background-position: 50% 0px;
  background-repeat: no-repeat;
  transition: color 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    background-color 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    background-position 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  border-radius: 4.6rem;
  text-decoration: none;
  white-space: nowrap;
}
